@{
    ViewBag.Title = "Спасибо!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="margin-top:50px; font-size:30px;">Благодарим Вас за уделённое время!</h1>

@section Scripts {
    @Scripts.Render("~/Scripts/redirect-script.js")
}